.doctor-container {
    padding-left: 300px;
    padding-right: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
.center-pagination .ant-pagination-item,
.center-pagination .ant-pagination-prev,
.center-pagination .ant-pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
}