.login-container {
  display: flex;
  justify-content: center;
  height: 100dvh;
  overflow: hidden;
}

.login-background {
  position: absolute;
  height: 100%;
  width: 100%; 
  background-image: url("../../assets/images/BG.jpg");
  background-size: cover;
  background-position: center;
}

.login-overlay {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.login-title {
  font-size: 2rem; 
  font-family: '20db';
}

.login-subtitle {
  font-size: 1.2rem;
  margin-top: -15px;
  font-family: 'Roboto'
}

.login-form-wrapper {
  max-width: 400px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top:30%;
  font-family: 'Roboto';
}

.login-form-card {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto';
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.forgot-password {
  text-align: right;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.footer-text a {
  color: #007bff;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
